.container{
    width: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
}
.container .row {
    display: flex;
    flex-direction: column;
    gap: 5px;
}